.Input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}

.Input input {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid var(--color-highlight);
  background-color: transparent;
  font-size: 16px;
  width: calc(100% - 16px - 2px);
}

.Input textarea {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid var(--color-highlight);
  background-color: transparent;
  font-size: 16px;
  width: calc(100% - 16px - 2px);
}

.Input input:focus {
  outline: 1px solid var(--color-foreground);
  background-color: var(--color-accent);
}

.Input textarea:focus {
  outline: 1px solid var(--color-foreground);
  background-color: var(--color-accent);
}

.Input label {
  font-size: 14px;
  font-weight: 700;
}

.Input input[type='submit'] {
  background-color: var(--color-foreground);
  color: var(--color-background);
  font-weight: 700;
  width: fit-content;
}

.Input input:disabled {
  background-color: var(--color-foreground);
  color: var(--color-background);
}

.Input textarea:disabled {
  background-color: var(--color-foreground);
  color: var(--color-background);
}

.Input input[type='submit']:hover {
  cursor: pointer;
}

.Input input[type='submit']:focus {
  outline: none;
}

.Error input {
  background-color: var(--color-accent);
}
